.formInput{
    display: flex;
    flex-direction: column;
    width: 350px;
}

input{
    padding: 8px;
    margin: 10px 0px;
    border: 1px solid #DED2D9;
    border-radius: 5px;
    background-color: white;
    color: #7F265B;
}

label{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

label{
    font-size: 15px;
}


